/* header */

.header {
  background-color: #fff;
  color: #444;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 15px 0 0 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: #444;
}

.menu {
	padding-top: 10px;
}

.header .logo {
  display: block;
  float: left;
  margin: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .4s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 65px 25px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 500px;
  box-shadow: 1px 4px 4px 0 rgba(0,0,0,.1);
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 768px) {
  .header li {
    float: left;
  }
  .header li {
    margin-left: 50px;
  }
  .header li a {
    padding: 10px 0px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    padding-top: 36px;
    padding-right: 42px;
  }
  .header .menu-icon {
    display: none;
  }
  .header {
	height: 120px;
	font-family: "Axis";
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: white;
    color: #662D91;
    transition: all 0.2s ease-in-out;
  }
  
  .header .contact-link {
	color: #662D91;
	border: 2px solid #662D91;
	border-radius: 35px;
	padding: 10px 32px;
  }
  .header .contact-link:hover {
	color: white;
	background-color: #662D91;
  }
}
